:root {
  --margin: 9vw;
  --topmargin: 6vh;
  --gridmargin: 20vw;

/* GRID */
  --width1: 8.33%;   /* 1/12 */
  --width2: 16.66%;   /* 1/6 */
  --width3: 25%;   /* 1/4 */
  --width4: 33.33%;   /* 1/3 */
  --width5: 41.66%;   /* 5/12 */
  --width6: 50%;   /* 1/2 */
  --width7: 58.33%;   /* 7/12 */
  --width8: 66.66%;   /* 2/3 */
  --width9: 75%;   /* 3/4 */
  --width10: 83.33%;   /* 5/6 */
  --width11: 91.66%;   /* 11/12 */
}

/* HEADER */

#logo:hover {
    content: url('assets/img/header/logo-blue.png');
}

.headerbtn:hover {
  color: #2c2cff;
  cursor: crosshair;
}

#title {
  position: relative;
  margin: auto;
  /* top: 150px; */
  /* font-size: 130px; */
  color: #2c2cff;
  text-align: center;
  /* border-style: solid; */
}

/* SUBTITLE */
#subtitle-container {
  position: relative;
  margin: auto;
  font-size: 28px;
  height: 100%;
  width: 100%;
  z-index: -10;
  top: 65vh;
  /* border-style: solid; */
  }

#subtitle-text {
  position: relative;
  left: 0;
  line-height: 30px;
  text-align: center;
  /* border-style: solid; */
  }

#subtitle-transition {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: white;
}

/* SECTIONS */
.section {
  position: fixed;
  height: 100vh;
  text-align: center;
  /* border: solid; */
}

.section-heading {
  margin-top: 8vh;
  position: relative;
  font-size: 75px;
  padding: 30px 0px 30px 0px;
  color: #2c2cff;
  /* font-weight: 500; */
  /* border: solid; */
}

.paragraph {
  position: relative;
  font-size: 28px;
  line-height: 1.1;
  bottom: 0;
}

#first-section {
  width: 100vw;
}

#second-section, #third-section, #fourth-section, #fifth-section {
  left: var(--margin);
  right: var(--margin);
}

#section4-heading {
  padding-top: 6vh;
}

#grafico-container {
  position: relative;
  /* top: 3vh; */
  margin: auto;
  height: 70vh;
  width: 70vh;
  /* border: solid; */
  z-index: -10;
}

 #grafico-fuoco, #grafico-statico {
  position: absolute;
  left: 0;
  top: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  /* border: solid; */
}



/* FIFTH */
#fifth-section {
  position: fixed;
  left: var(--margin);
  right: var(--margin);
  /* border: solid; */
}

.grid {
  /* position: absolute; */
  /* width: 100%; */
  margin-top:10vh;
  right: var(--margin);
  left: var(--margin);
  display: flex;
  flex-wrap: wrap;
  height: auto;
  /* border-style: solid; */
  margin-bottom: 10vh;
  }

.row {
  width: 100%;
  margin-bottom: 30px;
  height: 30vh;
  /* border-style: solid; */
}

.container {
  position: relative;
  /* border-style: solid; */
}


.text {
  position: absolute;
  /* border:solid; */
  display: inline-block;
  top: 10vh;
  width:20vw;
}

.id-text {
  font-size: 1vw;
  line-height: 1.5vw;
  font-weight: 400;

}


#container1 {
  width: 20vw;
  height: 20vw;
  position: absolute;
  /* border: solid; */
  left: 5vw;
}

#text1 {
  position: relative;
left: 0vw;
top: 10vh;
display: inline-block;
}


#container2 {
width: 25vw;
height: 19vw;
left: 45%;
right: 40.5%;
position: absolute;
/* border: solid; */
text-align: center;
}

#text2 {
  position: relative;
left:6vw;
display: inline-block;
/* display: block; */
top: 10vh;
}

#container3 {

  width: 19vw;
  height: 19vw;
  position: absolute;
  /* border: solid; */
  right: 3vw;
  text-align: left;
}

#text3 {
  position: relative;
  right: 0vw;
  top: 10vh;
  /* border: solid; */
  display: inline-block;
}



.image {
  display: block;
  height: 30vh;
  width: 30vh;
  z-index: -10;
  padding: 0px;
  position: relative;
}
.image2{
  display: block;
  height: 30vh;
  width: 30vh;
  z-index: -10;
  padding: 0px;
  position: relative;
}

.container:hover .image  {
  filter: blur(5px);
  webkit-filter: blur(5px);
}

.container:hover .image2 {
  filter: blur(5px);
  webkit-filter: blur(5px);
}


#containertextdx{
  /* border: solid;
  color: black; */
  height: 80vh;
  width: 20vw;
  right:5vw;
  position: absolute;
}

#containertextsx{
  height: 80vh;
  width: 23vw;
  left:3vw;
  position: absolute;

}

#containertext{
  /* border: solid; */
  /* color: black; */
  height: 80vh;
  width: 30vw;
  left: 20vw;
  position: absolute;

}

.big{
  color: #2c2cff;
  font-size: 2vw;
  width: 20%;
  /* border: solid; */
  line-height: 2vw;
  left:0%;
}

#containerbigsx{
  /* left: 5vw; */
  width: 35%;
  /* border: solid; */
  position: absolute;
}

#containerbigc{
position: absolute;
  left: 32%;
  height: 80vh;
  width: 30vw;
  margin: auto;
  /* border:solid; */
}

#containerbigdx{
  right: 7vw;
  width: 20%;
  /* border: solid; */
  position: absolute;
}
