:root {
    --mobilemargin: 5vw;
    --mobiletopmargin: 5vh;

    --mobilefontsize: 3vw;

/* GRID */
  --width1: 8.33%;   /* 1/12 */
  --width2: 16.66%;   /* 1/6 */
  --width3: 25%;   /* 1/4 */
  --width4: 33.33%;   /* 1/3 */
  --width5: 41.66%;   /* 5/12 */
  --width6: 50%;   /* 1/2 */
  --width7: 58.33%;   /* 7/12 */
  --width8: 66.66%;   /* 2/3 */
  --width9: 75%;   /* 3/4 */
  --width10: 83.33%;   /* 5/6 */
  --width11: 91.66%;   /* 11/12 */

  /* LAYERS */
   --header-layer: 100;
   --content-layer: 0;
   --back-content: -20;

   /* TOD BLUE <3 */
   --tod-blue: #2c2cff;
}

/* FONT */
@font-face {
    font-family: 'Whyte';
    src: url('assets/font/Whyte-Regular.eot');
    src: local('Whyte Regular'), local('Whyte-Regular'),
        url('../../font/Whyte-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../font/Whyte-Regular.woff2') format('woff2'),
        url('../../font/Whyte-Regular.woff') format('woff'),
        url('../../font/Whyte-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* BODY */
body {
  margin:0;
  padding: 0;
  min-width: 100vw;
  max-width: 100vw;
  font-family: "Whyte", sans-serif;
  /* overflow-y: auto; */
  overflow-x: hidden;
  line-height: 1.1;
}

body::-webkit-scrollbar {
  display: none;
}

/* HEADER */
#header {
  width: 100vw;
  position: fixed;
  top: 0;

  z-index: var(--header-layer);
}

#logo {
  position: fixed;
  width: 15vw;
  top: var(--mobilemargin);
  left: 50%;
  transform: translate(-50%, 0%);
}

#logo:hover {
    content: url('../../img/header/logo-blue.png');
}

#headerline {
  left: var(--mobilemargin); right: var(--mobilemargin); top: var(--mobiletopmargin);
  height: 2px;
  position: fixed;
}

#menu {
  display: none;
  position: fixed;
  top: var(--mobiletopmargin);
  width: 100vw;
  left: 0;
  z-index: var(--header-layer);
  /* border-style: solid; */
  transform:translate(0%, -100%);
}

.headerbtn {
  padding-left: var(--mobilemargin);
  /* padding-right: var(--mobilemargin); */
  border: none;
  background-color: transparent;
  /* margin-bottom: 1rem; */
  font-size: var(--mobilefontsize);
  display: block;
  color: black;
  /* border-style: solid; */
}

a {
text-decoration: none;
}

a:hover {
  color: #2c2cff;
}

#community {
  float: left;
}

#about {
  float: right;
}

/* FOOTER */
#footer {
  position: absolute;
  background-color: var(--tod-blue);
  width: 100%;
  height: 20vh;
  bottom: 0;
  text-align: center;
}

#foot2 #foot3 {color: white}

#footerline {
  display: none;
}

.foot {
  font-size: 4vw;
  padding-bottom: 2vw;
  padding-top: 2vw;
}

#footer-mobile {
  position: absolute;
  right: var(--mobilemargin);
  font-size: var(--mobilefontsize);
  display: flex;
  z-index: 50;
  /* border-style: solid; */
}

.foot-mobile {
  bottom: 0;
  position: absolute;
  line-height: 1.2;
  padding-bottom: 4vh;
}

#foot1-mobile {
  left: 0;
}

#foot2-mobile {
  left: 33%;
  transform: translate(-50%, 0);
}

#foot3 {
  left: 66%;
  transform: translate(-50%, 0);
}

#foot4-mobile {
  bottom: 0;
  right: 0;
}

.footerlink-mobile {
  text-decoration: underline;
  color: black;
}

.footerlink-mobile:hover {
  color: #2c2cff;
}
