:root {
  /* LAYERS */
  --id-layer: 0;
}


.section, #intro {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overflow: none;
  z-index: 0;
}

#intro {
  background-color: white;
}

#title {
  position: absolute;
  text-align: center;
  color: var(--tod-blue);
  font-size: 17.2vw;
  top: 50%;
  width: 100%;
  transform:translate(0, -75%);
  -webkit-animation: blurTitle 2s 1;
}

@keyframes blurTitle {
 0% {filter: blur(2vh); -webkit-filter:blur(2vh);}
 100% {filter: blur(0); -webkit-filter:blur(0)}
}


.subtitle {
  position: absolute;
  font-size: 5.2vw;
  color: black;
}

#subtitle1 {
text-align: right;
  top: 20vh;
  right: var(--mobilemargin);
}

#subtitle2 {
  bottom: 20vh;
  left: var(--mobilemargin);
}

.introline {
  height: 10vh;
}

#introline1 {
top: 30vh;
right: var(--mobilemargin);
}

#introline2 {
bottom: 35vh;
left: var(--mobilemargin);
}


.scroll-down {
  position: absolute;
  bottom: 3vh;
  width: 7vw;
  left: 50%;
  transform:translate(-50%, 0);
  z-index: var(--header-layer);
}

.scroll-up {
  position: absolute;
  top: var(--mobiletopmargin);
  width: 7vw;
  left: 50%;
  transform:translate(-50%, -100%);
  z-index: var(--header-layer);
}

.scroll-img {
  width: 7vw;
}

#container1 {
  top: 100vh;
}

#container2 {
  top: 200vh;
}

#container3 {
  top: 300vh;
}

#container4 {
  top: 400vh;
}

#container5 {
  top: 500vh;
}

#container6 {
  top: 600vh;
}

.member-pic {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  object-fit: cover;
  overflow-x: hidden;
}


.member-text-container {
  position: absolute;
  left: 0;
  top: 100%;
  height: 100%;
  width: 100%;
  z-index: 0;
}

@keyframes show-member-text {
 0% {top: 100%;}
 100% {top: 0;}
}

@keyframes hide-member-text {
 0% {top: 0;}
 100% {top: 100%;}
}

.member-text-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--tod-blue);
  opacity: 0.6;

}


.member-text-block {
  /* position: relative; */
  position: absolute;
  margin-left: var(--mobilemargin);
  margin-right: var(--mobilemargin);
  bottom: 9vh;
  color: white;
  z-index: var(--id-layer);
}

.member-id {
  position: relative;
  font-size: 9vw;
  color: white;
  top: 0;
  padding-bottom: 2vh;
}

.member-text {
  position: relative;
  font-size: 6vw;
  bottom: 0;
}
