:root {
    --mobilemargin: 5vw;
    --mobiletopmargin: 5vh;

    --mobilefontsize: 3vw;

/* GRID */
  --width1: 8.33%;   /* 1/12 */
  --width2: 16.66%;   /* 1/6 */
  --width3: 25%;   /* 1/4 */
  --width4: 33.33%;   /* 1/3 */
  --width5: 41.66%;   /* 5/12 */
  --width6: 50%;   /* 1/2 */
  --width7: 58.33%;   /* 7/12 */
  --width8: 66.66%;   /* 2/3 */
  --width9: 75%;   /* 3/4 */
  --width10: 83.33%;   /* 5/6 */
  --width11: 91.66%;   /* 11/12 */

  /* LAYERS */
   --header-layer: 100;
   --content-layer: 0;
   --back-content: -20;
   --menu-layer: 50;

   /* TOD BLUE <3 */
   --tod-blue: #2c2cff;

   /* FONT SIZE */
   --font-size: 5.2vw;
}

#mamma-mia {
-ms-touch-action: pan-y;
touch-action: pan-y;
}
#mamma-mia {
-ms-touch-action: none;
touch-action: none;
}


/* FONT */
@font-face {
    font-family: 'Whyte';
    src: url('assets/font/Whyte-Regular.eot');
    src: local('Whyte Regular'), local('Whyte-Regular'),
        url('../../font/Whyte-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../font/Whyte-Regular.woff2') format('woff2'),
        url('../../font/Whyte-Regular.woff') format('woff'),
        url('../../font/Whyte-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* BODY */
body {
  margin:0;
  padding: 0;
  min-width: 100vw;
  max-width: 100vw;
  font-family: "Whyte", sans-serif;
  /* overflow-y: auto; */
  overflow-x: hidden;
  line-height: 1.1;
}

body::-webkit-scrollbar {
  display: none;
}

/* HEADER */
#header {
  width: 100vw;
  position: fixed;
  top: 0;

  z-index: var(--header-layer);
}

#logo {
  position: fixed;
  width: 15vw;
  top: var(--mobilemargin);
  left: var(--mobilemargin);
}

#logo:hover {
    content: url('../../img/header/logo-blue.png');
}

#menu-mobile {
  position: fixed;
  right: var(--mobilemargin);
  top: var(--mobilemargin);
  width: 5vw;
}

#headerline, #community, #discover {display: none}


#menu {
  position: fixed;
  left: 100%;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 30vh;
  background: white;
  z-index: var(--menu-layer);
}

a:focus {outline: none}

@keyframes show-menu {
 0% {left: 100%}
 100% {left: 0%}
}

@keyframes hide-menu {
 0% {left: 0%}
 100% {left: 100%}
}


.headerbtn {
  text-align: center;
  width: 100%;
  border: none;
  font-size: 6.5vh;
  display: block;
  color: var(--tod-blue);
  padding-bottom: 3vh;
  filter: blur(6px); -webkit-filter:blur(6px);
  background: none;
  outline: none;
}

.headerbtn:hover {
  background: none;
  outline: none;

  animation: menuhover 1s 1;
  animationFillMode: forwards;
}



@keyframes menuhover {
 0% {filter: blur(6px); -webkit-filter:blur(6px);}
 100% {filter: blur(0px); -webkit-filter:blur(0px);}
}


a {
text-decoration: none;
}

a:hover {
  color: #2c2cff;
}



/* MENU FOOTER */
#mobile-footer {position: absolute;
  left: var(--mobilemargin);
  right: var(--mobilemargin);
  bottom: 0;
  margin-bottom: 41vh;
  z-index: 1000;
text-align: center;
font-size: 3vw;
opacity: 0.7}

.footerlink {width: 7vw; padding-left: 1vw; padding-right: 1vw;}

#vimeo:hover {
  content: url('../../img/mobile/vimeo-blue.png');
  width: 7vw; padding-left: 1vw; padding-right: 1vw; padding-bottom: 1vw;
}

#insta:hover {
  content: url('../../img/mobile/insta-blue.png');
  width: 7vw; padding-left: 1vw; padding-right: 1vw; padding-bottom: 1vw;
}

.foot, .footerlink {padding-bottom: 1vw;}



/* HIDE FOOTER */
#footer {display: none}
