@media only screen and (orientation:portrait) and (max-width:991px) {

:root {
  --mobile-margin: 5vw;
}

body {
min-height: 100vh;
max-height: 100vh;
overflow: hidden;
}

/* CLAIM */

#claim-mobile {
display: block;
position: absolute;
width: 100%;
height: 100%;
position: fixed;
z-index: 90;
text-align: center;
z-index: var(--content-layer);
}

#claim1-mobile {
position: inherit;
top: 50vh;
width: 100%;
font-size: 20vw;
color: #fbfbfb;
padding-bottom: 10vh;
transform:translate(0%, -60%);

}

#claim2-mobile {
  position: inherit;
  bottom: 20vh;
  font-size: 5vw;
  text-align: center;
  width: 100%;
  opacity: 0;

  animation: claim2-animation 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes claim2-animation {
 0% {opacity: 0}
 100% {opacity: 1}
}

#claim3-mobile {
  position: inherit;
  bottom: 10vh;
  font-size: 3vw;
  text-align: center;
  width: 100%;
}

@keyframes claim3-animation {
 0% {opacity: 1}
 100% {opacity: 0;}
}

#claim4-mobile {
  position: inherit;
  bottom: 10vh;
  font-size: 3vw;
  text-align: center;
  width: 100%;
  opacity: 0;
}

/* PARAGRAPHS */

#paragraphs {
  position: absolute;
  left: var(--mobilemargin);
  margin-right: var(--mobilemargin);
  height: auto;
  top: 100vh;
  margin-top: 10vh;
  color: #F7F7F7;
  line-height: 1.1;
  /* border-style: solid; */
  display: none;
  }

.paragraph {
  position: relative;
  font-size: 6vw;
  /* border-style: solid; */
  padding-bottom: 15vh;
}

.paragraph-title {
  font-size: 6vw;
  line-height: 2;
}

/* FUOCO FATUO */
#blob-mobile {
  display: block;
  position: fixed;
  width: 270vw;
  z-index: -10;
  left: 50%;
  top: 50%;
  height: auto;
  transform: translate(-50%, -50%);

  opacity: 0;

  animation: blob-mobile-appear 2s 1;
  animation-fill-mode: forwards;
  }

  @keyframes blob-mobile-appear {
   0% {opacity: 0; width: 2vh}
   100% {opacity: 1; width: 270vw}
  }


  /* @-skrollr-keyframes biggerBlobmobile {
  	0  {
        width: 250vw;
  	}
  	10	{
  		width: 250vw;
  	}
    20	{
    	width: 700vw;
    	}
    1800 {
      width: 700vw;
    }
    2000 {
      width: 250vw;
    } */

/* VIDEO */
#video {
  position: absolute;
  top: 250vh;
  padding-bottom: 20vh;
  width: 100vw;
}

iframe {
  position: relative;
  /* display: block; */
  width: 100%;
  right: 0;
  height: 56.25VW;
  overflow: hidden;
}


/* HIDE DESKTOP STUFF */
#claim {display: none}

#blobdiv {display: none}

iframe {display: none};
