:root {
  --margin: 9vw;
  --topmargin: 6vh;
}

body {
  max-height: 3000px;
  /* position: relative; */
}

#logo:hover {
    content: url('assets/img/header/logo-white.png');
}

/* CLAIM */

#claim {
position: absolute;
left: 160px;
top: 35%;
width: 100%;
line-height: 1;
}

#claim1 {
  font-size: 140px;
  color: #F7F7F7;
}

#claimline {
  width: 160px;
  top: 246px;
  left: 670px;
}

#claim2 {
  position: absolute;
  top: 195px;
  left: 850px;
  font-size: 30px;
  line-height: 35px;
}

/* PARAGRAPHS */

#paragraphs {
  position: absolute;
  left: var(--margin);
  margin-right: var(--margin);
  height: auto;
  top: 100%;
  margin-top: 10vh;
  color: #F7F7F7;
  line-height: 1.1;
  /* border-style: solid; */
  }

.paragraph {
  position: relative;
  font-size: 2.7vw;
  margin-bottom: 10vh;
  /* border-style: solid; */
  /* color: black; */
}

.paragraph-title {
  font-size: 2.7vw;
  line-height: 2;
}

#perdita {
  top: 100px;
}

#affetto {
  padding-top: 100px;
}

/* FUOCO FATUO */

#blobdiv {
  position: absolute;
  z-index: -10;
  /* width: 10%;
  height: 10%;
  background-color: black; */
}

#blob {
  position: absolute;
  height: auto;
  transform: translate(-50%, -50%);

  -skrollr-animation-name:biggerBlob;
}

@-skrollr-keyframes biggerBlob {
	0  {
      width: 1500px;
	}
	200	{
		width: 1500px;
	}
  500	{
  	width: 4000px;
  	}
  1800 {
    width: 4000px;
  }
  2000 {
    width: 300px;
  }
}

/* VIDEO */
#video {
  position: absolute;
  top: 275vh;
  padding-bottom: 20vh;
  width: 100vw;
}
iframe {
  position: relative;
  margin: auto;
  display: block;
  width: 82vw;
  height: 46.125vw;
  overflow: hidden;
}

/* HEADER */
.headerbtn:hover {
  color: #F7F7F7;
  cursor: crosshair;
}

/* .footerlink:hover {
  color: #F7F7F7;
} */
