/* HEADER */

#logo:hover {
    content: url('../img/header/logo-white.png');
}

.headerbtn:hover, .footerlink:hover {
  color: white;
}


/* SHOW CREDITS BTN */
#show-credits-btn {
  content: url('../../img/about/plus-white.png');
}



/* CREDITS */
#credits-container {
height: 180vh;
  -webkit-animation: credits-container-appear 1s 1;
  animation-fill-mode: forwards;
}

@keyframes credits-container-appear {
 0% {opacity: 0}
 100% {opacity: 1}
}


/* FOOTER */
#footer2 {
  position: absolute;
  right: var(--margin);
  left: 0;
  font-size: 1vw;
  display: flex;
  z-index: 0;
  bottom: 0;
  /* border-style: solid; */
}
