:root {
  --margin: 9vw;
  --top-margin: 6vh;
  --bottom-margin: 15vh;
  --header-margin: 1.8vw;


/* GRID */
  --width1: 8.33%;   /* 1/12 */
  --width2: 16.66%;   /* 1/6 */
  --width3: 25%;   /* 1/4 */
  --width4: 33.33%;   /* 1/3 */
  --width5: 41.66%;   /* 5/12 */
  --width6: 50%;   /* 1/2 */
  --width7: 58.33%;   /* 7/12 */
  --width8: 66.66%;   /* 2/3 */
  --width9: 75%;   /* 3/4 */
  --width10: 83.33%;   /* 5/6 */
  --width11: 91.66%;   /* 11/12 */

/* LAYERS */
 --header-layer: 50;
 --footer-layer: 10;
 --content-layer: 0;
 --back-content: -20;
 --overlay-layer: 20;

/* TOD BLUE <3 */
 --tod-blue: #2c2cff;
}

/* FONT */
@font-face {
    font-family: 'Whyte';
    src: url('assets/font/Whyte-Regular.eot');
    src: local('Whyte Regular'), local('Whyte-Regular'),
        url('../../font/Whyte-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../font/Whyte-Regular.woff2') format('woff2'),
        url('../../font/Whyte-Regular.woff') format('woff'),
        url('../../font/Whyte-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* BODY */
body {
  margin:0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  cursor: crosshair;
  font-family: "Whyte", sans-serif;
  line-height: 1.1;
}

body::-webkit-scrollbar {
  display: none;
}

/* HEADER */
#header {
  width: 100%;
  position: fixed;
  top: 0;

  font-family: "Whyte", sans-serif;
  z-index: var(--header-layer);
}

#logo {
  width: 5vw;
  margin-top: var(--top-margin);
  margin-left: var(--header-margin);
  transform:translate(0, -60%);
  /* border-style: solid; */
}

#headerline {left: var(--margin); right: 21vw; top: var(--top-margin); height: 1px;}

#menu {
  position: fixed;
  top: var(--top-margin);

  right: var(--header-margin);
  z-index: var(--header-layer);
  display: table;
  /* border-style: solid; */
  transform:translate(0, -20%);
}

.headerbtn {
  position: relative;
  background-color: transparent;
  font-size: 1vw;
  font-family: "Whyte", sans-serif;
  color: black;
  /* border-style: solid; */
}

#discover, #community {padding-right: var(--header-margin)}

a {
text-decoration: none;
cursor: crosshair;
}

/* FOOTER */
#footer {
  position: absolute;
  right: var(--margin);
  font-size: 1vw;
  display: flex;
  z-index: var(--footer-layer);
}

.foot {
  bottom: 0;
  position: absolute;
  line-height: 1.2rem;
  padding-bottom: 4vh;
}

#foot2 {
  left: 33%;
  /* transform: translate(+50%, 0); */
}

#foot3 {
  left: 66%;
  transform: translate(-50%, 0);
}

#foot4 {
  bottom: 0;
  right: 0;
}

.footerlink {
  text-decoration: underline;
  color: black;
}

#footerline {
  left: var(--margin);
  right: 0;
  bottom: var(--bottom-margin);
}


/* FOOTER */
#foot1 {
  left: var(--margin);
}


#show-credits {
  position: absolute;
  top: 75vh;
  /* border: solid; */
  text-align: center;
  width: 100%;
  z-index: var(--header-layer);
}

/* SHOW CREDITS TEXT */

#show-credits-text {
  margin: auto;
  color: blue;
  padding: 1vw;

  -webkit-animation: showCreditsDisappear 1s 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
 }

@keyframes showCreditsDisappear {
  0% {opacity: 1;}
  100% {opacity: 0;}
}


/* SHOW CREDITS BTN */
#show-credits-btn {
  width: 2vw;
  animation: plusAnimation1 1s infinite;
  z-index: var(--header-layer);
}



@keyframes plusAnimation1 {
  0% {transform:translate(0, 0%)}
  50% {transform:translate(0, 30%)}
  100% {transform:translate(0, 0%)}
}


@keyframes plusAnimation2 {
  0% {transform:rotate(0deg)}
  100% {transform: rotate(-45deg)}
}


@keyframes plusAnimation3 {
0% {transform:rotate(-45deg)}
100% {transform: rotate(0deg)}
}




/* ABOUT TEXT */
#about-text {
  position: absolute;
  top: 15vh;
  left: var(--margin);
  right: var(--margin);
  font-size: 4vw;
  color: blue;
}


/* CREDITS */
#credits-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  background-color: var(--tod-blue);
  z-index: var(--overlay-layer);
  line-height: 1.1;
  padding-bottom: 30vh;
}

#credits-text {
  position: absolute;
  top: 15vh;
  left: var(--margin);
  right: var(--margin);
  height: 60vh;
}


#credits-paragraph {
  top: 0;
  left: 0;
  right: 0;
  font-size: 4vw;
  color: white;
}

#credits-names-block {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 1.3;
}

.credits-names {
  position: absolute;
  font-size: 1vw;
  color: white;
  display: inline-table;
  bottom: 0;
}

#studs-links {
  color: white;
  text-decoration: underline;
}

#studs-links:hover {
background-color: white;
color: var(--tod-blue);
}

#studs {
  left: 0;
}

#profs {
  left: 23%;
}

#ass {
  left: 51%;
}

#uni {
  left: 75%;
}





/* VIDEO */
#video {
  position: absolute;
  bottom: 0vh;
  padding-bottom: 25vh;
  width: 100vw;
}
iframe {
  position: relative;
  margin: auto;
  display: block;
  width: 82vw;
  height: 46.125vw;
  overflow: hidden;
}

#video2, #menu-mobile, #community-mobile {display: none}






/* FOOTER */
#footer {
  position: absolute;
  right: var(--margin);
  font-size: 1vw;
  display: flex;
  z-index: 0;
  /* border-style: solid; */
}

.foot {
  bottom: 0;
  position: absolute;
  line-height: 1.2rem;
  padding-bottom: 4vh;
}

#foot2 {
  left: 33%;
  /* transform: translate(+50%, 0); */
}

#foot3 {
  left: 66%;
  transform: translate(-50%, 0);
}

#foot4 {
  bottom: 0;
  right: 0;
}

.footerlink {
  text-decoration: underline;
  color: black;
}

.footerlink:hover {
  color: var(--tod-blue)
}


#footerline {
  left: var(--margin);
  right: 0;
  bottom: var(--bottom-margin);
}


#footerline1 {
  left: var(--margin);
  right: 44vw;
  bottom: var(--bottom-margin);
}


#footerline2 {
  left: 53vw;
  right: 0;
  bottom: var(--bottom-margin);
}
