/* HEADER */

#logo:hover {
    content: url('../img/header/logo-white.png');
}

.headerbtn:hover, .footerlink:hover {
  color: white;
}


/* SHOW CREDITS BTN */
#show-credits-btn {
  content: url('../../img/about/plus-white.png');
}



/* CREDITS */
#credits-container {
  -webkit-animation: credits-container-appear 1s 1;
  animation-fill-mode: forwards;
}

@keyframes credits-container-appear {
 0% {opacity: 0}
 100% {opacity: 1}
}
