:root {
/* MOBILE MA LA FONT SIZE FALLA A OCCHIO POI DECIDIAMO */
  --mobilemargin: 5vw;
--mobiletopmargin: 5vh;
--mobileheaderlinemargin: 12vw;

/* GRID */
  --width1: 8.33%;   /* 1/12 */
  --width2: 16.66%;   /* 1/6 */
  --width3: 25%;   /* 1/4 */
  --width4: 33.33%;   /* 1/3 */
  --width5: 41.66%;   /* 5/12 */
  --width6: 50%;   /* 1/2 */
  --width7: 58.33%;   /* 7/12 */
  --width8: 66.66%;   /* 2/3 */
  --width9: 75%;   /* 3/4 */
  --width10: 83.33%;   /* 5/6 */
  --width11: 91.66%;   /* 11/12 */

/* LAYERS */
 --overlay-layer: 0;
 --top-content: 10;
  --menu-layer: 50;
 --header-layer: 100;

/* TOD BLUE <3 */
 --tod-blue: #2c2cff;

/* FONT SIZE */
--font-size: 5.2vw;
}

body {max-height: 100vh;}

/* FONT */
@font-face {
    font-family: 'Whyte';
    src: url('assets/font/Whyte-Regular.eot');
    src: local('Whyte Regular'), local('Whyte-Regular'),
        url('../../../font/Whyte-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../../font/Whyte-Regular.woff2') format('woff2'),
        url('../../../font/Whyte-Regular.woff') format('woff'),
        url('../../../font/Whyte-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* BODY */
body {
  margin:0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  cursor: crosshair;
  font-family: "Whyte", sans-serif;
  line-height: 1.1;
}

body::-webkit-scrollbar {
  display: none;
}

/* HEADER */
#header {
  width: 100vw;
  position: fixed;
  top: 0;

  z-index: var(--header-layer);
}

#logo {
  position: fixed;
  width: 15vw;
  top: var(--mobilemargin);
  left: var(--mobilemargin);
}

#logo:hover {
    content: url('../../../img/header/logo-blue.png');
}

#menu-mobile {
  position: fixed;
  right: var(--mobilemargin);
  top: var(--mobilemargin);
  width: 5vw;
}

#menu-mobile:hover, {content: url('../../../img/header/menu-mobile-blue.png')}
}

#headerline, #community, #discover {display: none}


#menu {
  position: fixed;
  left: 100%;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 30vh;
  background: white;
  z-index: var(--menu-layer);
}

a:focus {outline: none}

@keyframes show-menu {
 0% {left: 100%}
 100% {left: 0%}
}

@keyframes hide-menu {
 0% {left: 0%}
 100% {left: 100%}
}

.headerbtn {
  text-align: center;
  width: 100%;
  border: none;
  font-size: 6.5vh;
  display: block;
  color: var(--tod-blue);
  padding-bottom: 3vh;
  filter: blur(6px); -webkit-filter:blur(6px);
}

.headerbtn:hover {
  filter: blur(0px); -webkit-filter:blur(0px);
}

a {
text-decoration: none;
cursor: crosshair;
}

/* FOOTER */
#footer, #video {
      display: none}


#show-credits {
  position: absolute;
  top: 50vh;
  /* border: solid; */
  text-align: center;
  width: 100%;
  z-index: var(--top-layer);
}

/* SHOW CREDITS TEXT */

#show-credits-text {
  display: none;
}


/* SHOW CREDITS BTN */
#show-credits-btn {
  width: 5vw;
  animation: plusAnimation1 1s infinite;
  /* z-index: var(--top-layer); */
}



@keyframes plusAnimation1 {
  0% {transform:translate(0, 0%)}
  50% {transform:translate(0, 30%)}
  100% {transform:translate(0, 0%)}
}


@keyframes plusAnimation2 {
  0% {transform:rotate(0deg)}
  100% {transform: rotate(-45deg)}
}


@keyframes plusAnimation3 {
0% {transform:rotate(-45deg)}
100% {transform: rotate(0deg)}
}




/* ABOUT TEXT */
#about-text {
  position: absolute;
  top: 12vh;
  left: var(--mobilemargin);
  right: var(--mobilemargin);
  font-size: var(--font-size);
  color: blue;
}


/* CREDITS */
#credits-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--tod-blue);
  z-index: var(--overlay-layer);
  line-height: 1.1;
  /* padding-bottom: 30vh; */
}

#credits-text {
  position: absolute;
  top: 12vh;
  left: var(--mobilemargin);
  right: var(--mobilemargin);
  height: 60vh;
  z-index: var(--overlay-layer);
}


#credits-paragraph {
  top: 0;
  left: 0;
  right: 0;
  font-size: var(--font-size);
  color: white;
  z-index: var(--overlay-layer);
}

#credits-names-block {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  line-height: 1.5;
  z-index: var(--overlay-layer);
}

.credits-names {
  position: absolute;
  font-size: 3vw;
  color: white;
  display: inline-table;
}

#studs-links {
  color: white;
  text-decoration: underline;
}

#studs-links:hover {
background-color: white;
color: var(--tod-blue);
}

#studs {
  left: 69%;
  bottom: 85%;
}

#profs {
  /* left: 0%;
  bottom:0%; */
  display: none
}

#ass {
  /* left: 69%;
  bottom: 0%; */
  display: none;
}

#uni {
  left: 0%;
  bottom: 85%;
}





/* VIDEO */
#video2 {
  position: absolute;
  bottom: 0;
  width: 100vw;
  /* border: solid; */
  height: 30vh;
  padding-bottom: 0;
  z-index: var(--top-layer);
}

iframe {
  position: relative;
border: none;
  left:0;
  top: 0;
  padding: 0;
  margin: 0;
  display: block;
  width: 100vw;
  height: 41.22vh;
  overflow: hidden;

}



/* FOOTER */
#footer, #footer2{
  display: none;
}




/* MENU FOOTER */
#mobile-footer {position: absolute;
  left: var(--mobilemargin);
  right: var(--mobilemargin);
  bottom: 0;
  margin-bottom: 41vh;
  z-index: 1000;
text-align: center;
font-size: 3vw;
opacity: 0.7}

.footerlink {width: 7vw; padding-left: 1vw; padding-right: 1vw;}

.foot, .footerlink {padding-bottom: 1vw;}

#vimeo:hover {
  content: url('../../img/mobile/vimeo-blue.png');
  width: 7vw; padding-left: 1vw; padding-right: 1vw; padding-bottom: 1vw;
}

#insta:hover {
  content: url('../../img/mobile/insta-blue.png');
  width: 7vw; padding-left: 1vw; padding-right: 1vw; padding-bottom: 1vw;
}
