:root {
  --margin: 9vw;
  --topmargin: 6vh;
}

body {
  /* max-height: 3000px; */
  /* max-height: 300vh; */
  /* position: relative; */
}

#logo:hover {
    content: url('../img/header/logo-white.png');
}

/* CLAIM */

#claim {
position: absolute;
left: 9vw;
top: 35vh;
width: 100%;
line-height: 1;
}

#claim1 {
  font-size: 9vw;
  color: #F7F7F7;
}

#claimline {
  width: 11vw;
  top: 32vh;
  left: 43vw;
}

#claim2 {
  position: absolute;
  top: 25vh;
  left: 57vw;
  font-size: 2vw;
  line-height: 35px;
}

/* PARAGRAPHS */

#paragraphs {
  position: absolute;
  left: var(--margin);
  margin-right: var(--margin);
  height: auto;
  top: 100%;
  margin-top: 10vh;
  color: #F7F7F7;
  line-height: 1.1;
  /* border-style: solid; */
  }

.paragraph {
  position: relative;
  font-size: 2.7vw;
  /* border-style: solid; */
  padding-bottom: 20vh;
}

.paragraph-title {
  font-size: 2.7vw;
  line-height: 2;
}

#affetto {
}

/* FUOCO FATUO */

#blobdiv {
  position: absolute;
  z-index: -10;
  /* width: 10%;
  height: 10%;
  background-color: black; */
}

#blob {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  transform: translate(-50%, -50%);

  -skrollr-animation-name:biggerBlob;
}

@-skrollr-keyframes biggerBlob {
	0  {
      width: 1500px;
	}
	200	{
		width: 1500px;
	}
  500	{
  	width: 4000px;
  	}
  1800 {
    width: 4000px;
  }
  2000 {
    width: 300px;
  }
}

/* VIDEO */
#video {
  position: absolute;
  top: 275vh;
  padding-bottom: 20vh;
  width: 100vw;
}
iframe {
  position: relative;
  margin: auto;
  display: block;
  width: 82vw;
  height: 46.125vw;
  overflow: hidden;
}

/* HEADER */
.headerbtn:hover {
  color: #F7F7F7;
  cursor: crosshair;
}

#foot1 {
  left: var(--margin);
}
